{% extends "layout.html" %}

<!-- TITLE -->
{% block title %} Change Password {% endblock %}

<!-- HEADER > NAV BAR-->
{% block navbar %}
{% if session.email %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li class="padd-left-fix">{{ username }}'s Settings: Change Password</li>
</ul>

<div class="text-end">
  <a href="/settings"><button type="button" class="btn btn-outline-light me-2">
      < </button></a>
  <a href="/logout"><button type="button" class="btn btn-warning">Log Out</button></a>
</div>
{% endif %}
{% endblock %}

<!-- MAIN -->
{% block main %}
<form action="/changepassword" method="post" class="form-styles2">
  <div class="row mb-3">
    <label for="inputNewPassword" class="col-sm-2 col-form-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" autocomplete="off" autofocus required class="form-control" id="inputNewPassword"
        name="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 16 characters.">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" autocomplete="off" required class="form-control" id="inputConfirmPassword"
        name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 16 characters.">
    </div>
  </div>
  <div class="centering-element top-pdd2rem">
    <button type="submit" class="btn btn-login-style me-2">Confirm</button>
  </div>
</form>
{% endblock %}