<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Movies DB: Home</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="#"><img src="../static/media/logo.png" alt="Logo" /></a>
      </div>
      <div class="accessibility-links">
        <a href="#">Log In</a>
        <a href="#">Register</a>
      </div>
    </header>
    <footer>
      <div class="footer-container">
        <p>CS50 Final Project by <a href="https://github.com/hunxio" class="signature">hunxio</a></p>
      </div>
    </footer>
  </body>
</html>
