{% extends "layout.html" %}

<!-- TITLE -->
{% block title %} 
    Log in OK 
{% endblock %} 

<!-- HEADER > NAV BAR -->   
{% block navbar %}
<ul
  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
>
  <li class="padd-left-fix">You've logged in</li>
</ul>
{% endblock %}

<!-- MAIN -->
{%block main%}
<div class="error-window form-styles">
<h1>You have successfully logged in.</h1>
<br>
<img src="../static/media/check-success.gif">
<br>
<br>
<h2>Click <a href="/" class="text-color">here</a> to go back to homepage.</h2>
</div>
{% endblock %}