{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li class="padd-left-fix">Login</li>
</ul>

<div class="text-end">
  <a href="/"><button type="button" class="btn btn-outline-light me-2">Home</button></a>
  <a href="/signup"><button type="button" class="btn btn-warning">Sign Up</button></a>
</div>
{% endblock %}

{% block main %}
<div class="centering-element top-pdd4rem">
  <h1 class="text-color">Access with your credentials</h1>
</div>
<form action="/login" method="post" class="form-styles2">
  <div class="row mb-3">
    <label for="inputemail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" autocomplete="off" autofocus required class="form-control" id="inputEmail" name="email">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" autocomplete="off" required class="form-control" id="inputPassword" name="password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 16 characters.">
    </div>
  </div>
  <div class="centering-element top-pdd2rem">
    <button type="submit" class="btn btn-login-style me-2">Log In</button>
  </div>
</form>
{% endblock %}