{% extends "layout.html" %}

{% block title %} Settings {% endblock %}

{% block navbar %}
{% if session.username %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li class="padd-left-fix">{{ session.username }}'s Settings</li>
</ul>

<div class="text-end">
  <a href="/"><button type="button" class="btn btn-outline-light me-2"> < </button></a>
  <a href="/logout"><button type="button" class="btn btn-warning">Log Out</button></a>
</div>
{% else %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li class="padd-left-fix">Home</li>
</ul>
<div class="text-end">
  <a href="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
  <a href="/signup"><button type="button" class="btn btn-warning">Sign Up</button></a>
</div>
{% endif %}
{% endblock %}

{% block main %}
{% if session.username %}
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../static/media/logo-icon.png" alt="logo-img" width="80" height="80">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome {{session.username}} to your settings page, here you can change your password or username (as longs as the new username is available).</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/changeusername"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 btn-color">Change Username</button></a>
      <a href="/changepassword"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 btn-color">Change Password</button></a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}