{% extends "layout.html" %}

<!-- TITLE -->
{% block title %} 
{% if session.email %}
  Info Updated
{% else %}
    Congratulations! 
{% endif %}
{% endblock %} 

<!-- HEADER > NAV BAR -->   
{% block navbar %}
{% if session.email %}
<ul
  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
>
  <li class="padd-left-fix">Account Updated !</li>
</ul>

<div class="text-end">
  <a href="/logout"
    ><button type="button" class="btn btn-warning">Log Out</button></a
  >
</div>
{% else %}
<ul
  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
>
  <li class="padd-left-fix">Account created and activated</li>
</ul>

<div class="text-end">
  <a href="/login"
    ><button type="button" class="btn btn-outline-light me-2">Login</button></a
  >
  <a href="/signup"
    ><button type="button" class="btn btn-warning">Sign Up</button></a
  >
</div>
{% endif %}
{% endblock %}

<!-- MAIN -->
{%block main%}
{% if session.email %}
<div class="error-window form-styles">
  <h1>You have successfully updated your account informations!</h1>
  <br>
  <img src="../static/media/check-success.gif">
  <br>
  <br>
  <h2>Click <a href="/" class="text-color">here</a> to return to the homepage.</h2>
  </div>
{% else %}
<div class="error-window form-styles">
<h1>You have successfully created an account.</h1>
<br>
<img src="../static/media/check-success.gif">
<br>
<br>
<h2>Click <a href="/login" class="text-color">here</a> to log in into your account.</h2>
</div>
{% endif %}
{% endblock %}