{% extends "layout.html" %}

<!-- TITLE -->
{% block title %} 
    Congratulations! 
{% endblock %} 

<!-- HEADER > NAV BAR -->   
{% block navbar %}
<ul
  class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
>
  <li class="padd-left-fix">Account created and activated</li>
</ul>

<div class="text-end">
  <a href="/login"
    ><button type="button" class="btn btn-outline-light me-2">Login</button></a
  >
  <a href="/signup"
    ><button type="button" class="btn btn-warning">Sign Up</button></a
  >
</div>
{% endblock %}

<!-- MAIN -->
{%block main%}
<div class="error-window form-styles">
<h1>You have successfully created an account.</h1>
<br>
<img src="../static/media/broken-toaster.gif" class="toaster">
<br>
<br>
<h2>Click <a href="/login" class="text-color">here</a> to log in into your account.</h2>
</div>
{% endblock %}