{% extends "layout.html" %}

<!-- TITLE -->
{% block title %} Home {% endblock %}

<!-- HEADER > NAV BAR-->
{% block navbar %}
{% if session.username %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li class="padd-left-fix">{{ session.username }}'s Profile</li>
</ul>

<div class="text-end">
  <a href="/settings"><button type="button" class="btn btn-outline-light me-2">Settings</button></a>
  <a href="/logout"><button type="button" class="btn btn-warning">Log Out</button></a>
</div>
{% endif %}
{% endblock %}

<!-- MAIN -->
{% block main %}
<h1>AUSHAUHAS</h1>
{% endblock %} 